[workspace]
resolver = "2"
members = [
    "node",
]

[profile.release]
panic = "unwind"

[workspace.dependencies]
assert_cmd = "2.0"
async-trait = "0.1.74"
clap = { version = "4.4.14", features = ["derive"] }
color-print = "0.3.4"
parity-scale-codec = { version = "3.6", default-features = false, features = ["derive"] }
futures = { version = "0.3.28", features = ["compat"] }
hex-literal = "0.4.1"
jsonrpsee = { version = "0.20.3", features = ["server"] }
log = { version = "0.4.20", default-features = false }
nix = "0.24"
scale-info = { version = "2.10.0", default-features = false, features = ["derive"] }
serde = { version = "1.0.195", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.111", features = ["arbitrary_precision"] }
smallvec = "1.11.2"
tempfile = "3.8.1"

# encointer deps
encointer-balances-tx-payment = { default-features = false, version = "~6.1.0" }
encointer-balances-tx-payment-rpc-runtime-api = { default-features = false, version = "~6.1.0" }
encointer-primitives = { default-features = false, version = "~6.1.0" }
pallet-encointer-balances = { default-features = false, version = "~6.1.0" }
pallet-encointer-bazaar = { default-features = false, version = "~6.1.0" }
pallet-encointer-bazaar-rpc-runtime-api = { default-features = false, version = "~6.1.0" }
pallet-encointer-ceremonies = { default-features = false, version = "~6.1.0" }
pallet-encointer-ceremonies-rpc-runtime-api = { default-features = false, version = "~6.1.0" }
pallet-encointer-communities = { default-features = false, version = "~6.1.0" }
pallet-encointer-communities-rpc-runtime-api = { default-features = false, version = "~6.1.0" }
pallet-encointer-faucet = { default-features = false, version = "~6.1.0" }
pallet-encointer-reputation-commitments = { default-features = false, version = "~6.1.0" }
pallet-encointer-scheduler = { default-features = false, version = "~6.1.0" }
# rpc [std]
pallet-encointer-bazaar-rpc = "~6.1.0"
pallet-encointer-ceremonies-rpc = "~6.1.0"
pallet-encointer-communities-rpc = "~6.1.0"

# fellowship runtimes. do not depend on fellow-runtimes directly, so we can upgrade at our own pace
kusama-runtime-constants = { default-features = false, git = "https://github.com/encointer/runtimes.git", branch = "ab/upgrade-encointer-to-6.1" }
parachain-runtime = { package = "encointer-kusama-runtime", git = "https://github.com/encointer/runtimes.git", branch = "ab/upgrade-encointer-to-6.1" }

# polkadot-sdk [no_std]
cumulus-pallet-aura-ext = { default-features = false, version = "0.8.0" }
cumulus-pallet-dmp-queue = { default-features = false, version = "0.8.0" }
cumulus-pallet-parachain-system = { default-features = false, features = ["parameterized-consensus-hook"], version = "0.8.0" }
cumulus-pallet-xcm = { default-features = false, version = "0.8.0" }
cumulus-pallet-xcmp-queue = { default-features = false, version = "0.8.0" }
cumulus-primitives-core = { default-features = false, version = "0.8.0" }
cumulus-primitives-timestamp = { default-features = false, version = "0.8.0" }
cumulus-primitives-utility = { default-features = false, version = "0.8.0" }
frame-benchmarking = { default-features = false, version = "29.0.0" }
frame-executive = { default-features = false, version = "29.0.0" }
frame-rpc-system = { package = "substrate-frame-rpc-system", version = "29.0.0" }
frame-support = { default-features = false, version = "29.0.0" }
frame-system = { default-features = false, version = "29.0.0" }
frame-system-benchmarking = { default-features = false, version = "29.0.0" }
frame-system-rpc-runtime-api = { default-features = false, version = "27.0.0" }
frame-try-runtime = { default-features = false, version = "0.35.0" }
pallet-asset-tx-payment = { default-features = false, version = "29.0.0" }
pallet-aura = { default-features = false, version = "28.0.0" }
pallet-balances = { default-features = false, version = "29.0.0" }
pallet-collective = { default-features = false, version = "29.0.0" }
pallet-insecure-randomness-collective-flip = { default-features = false, version = "17.0.0" }
pallet-membership = { default-features = false, version = "29.0.0" }
pallet-proxy = { default-features = false, version = "29.0.0" }
pallet-scheduler = { default-features = false, version = "30.0.0" }
pallet-timestamp = { default-features = false, version = "28.0.0" }
pallet-transaction-payment = { default-features = false, version = "29.0.0" }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, version = "29.0.0" }
pallet-treasury = { default-features = false, version = "28.0.0" }
pallet-utility = { default-features = false, version = "29.0.0" }
pallet-xcm = { default-features = false, version = "8.0.1" }
parachains-common = { default-features = false, version = "8.0.0" }
parachain-info = { package = "staging-parachain-info", default-features = false, version = "0.8.0" }
polkadot-core-primitives = { default-features = false, version = "8.0.0" }
polkadot-parachain-primitives = { default-features = false, version = "7.0.0" }
polkadot-runtime-common = { default-features = false, version = "8.0.0" }
sp-api = { default-features = false, version = "27.0.0" }
sp-block-builder = { default-features = false, version = "27.0.0" }
sp-consensus-aura = { default-features = false, version = "0.33.0" }
sp-core = { default-features = false, version = "29.0.0" }
sp-inherents = { default-features = false, version = "27.0.0" }
sp-io = { default-features = false, version = "31.0.0" }
sp-offchain = { default-features = false, version = "27.0.0" }
sp-runtime = { default-features = false, version = "32.0.0" }
sp-session = { default-features = false, version = "28.0.0" }
sp-std = { default-features = false, version = "14.0.0" }
sp-transaction-pool = { default-features = false, version = "27.0.0" }
sp-version = { default-features = false, version = "30.0.0" }
substrate-wasm-builder = { version = "18.0.0" }
xcm = { package = "staging-xcm", default-features = false, version = "8.0.1" }
xcm-builder = { package = "staging-xcm-builder", default-features = false, version = "8.0.0" }
xcm-executor = { package = "staging-xcm-executor", default-features = false, version = "8.0.0" }

# std stuff
cumulus-client-cli = "0.8.0"
cumulus-client-collator = "0.8.0"
cumulus-client-consensus-aura = "0.8.0"
cumulus-client-consensus-common = "0.8.0"
cumulus-client-consensus-proposer = "0.8.0"
cumulus-client-consensus-relay-chain = "0.8.0"
cumulus-client-network = "0.8.0"
cumulus-client-service = "0.8.0"
cumulus-primitives-parachain-inherent = "0.8.0"
cumulus-relay-chain-inprocess-interface = "0.8.0"
cumulus-relay-chain-interface = "0.8.0"
cumulus-relay-chain-rpc-interface = "0.8.0"
frame-benchmarking-cli = "33.0.0"
pallet-transaction-payment-rpc = "31.0.0"
polkadot-cli = "8.0.0"
polkadot-primitives = "8.0.1"
polkadot-service = "8.0.0"
sc-basic-authorship = "0.35.0"
sc-chain-spec = "28.0.0"
sc-cli = "0.37.0"
sc-client-api = "29.0.0"
sc-consensus = "0.34.0"
sc-executor = "0.33.0"
sc-network = "0.35.0"
sc-network-common = "0.34.0"
sc-network-sync = "0.34.0"
sc-offchain = "30.0.0"
sc-rpc = "30.0.0"
sc-service = "0.36.0"
sc-sysinfo = "28.0.0"
sc-telemetry = "16.0.0"
sc-tracing = "29.0.0"
sc-transaction-pool = "29.0.0"
sc-transaction-pool-api = "29.0.0"
sp-blockchain = "29.0.0"
sp-consensus = "0.33.0"
sp-keyring = "32.0.0"
sp-keystore = "0.35.0"
sp-timestamp = "27.0.0"
substrate-build-script-utils = "11.0.0"
substrate-prometheus-endpoint = "0.17.0"

# ### only while debugging/developping
#[patch."https://github.com/encointer/runtimes"]
#kusama-runtime-constants = { path = "../runtimes/relay/kusama/constants" }
#parachain-runtime = { package = "encointer-kusama-runtime", path = "../runtimes/system-parachains/encointer" }
#
#[patch.crates-io]
#encointer-balances-tx-payment = { path = "../pallets/balances-tx-payment" }
#encointer-balances-tx-payment-rpc = { path = "../pallets/balances-tx-payment/rpc" }
#encointer-balances-tx-payment-rpc-runtime-api = { path = "../pallets/balances-tx-payment/rpc/runtime-api" }
#encointer-ceremonies-assignment = { path = "../pallets/ceremonies/assignment" }
#encointer-primitives = { path = "../pallets/primitives" }
#pallet-encointer-ceremonies = { path = "../pallets/ceremonies" }
#pallet-encointer-ceremonies-rpc = { path = "../pallets/ceremonies/rpc" }
#pallet-encointer-ceremonies-rpc-runtime-api = { path = "../pallets/ceremonies/rpc/runtime-api" }
#pallet-encointer-communities = { path = "../pallets/communities" }
#pallet-encointer-communities-rpc = { path = "../pallets/communities/rpc" }
#pallet-encointer-communities-rpc-runtime-api = { path = "../pallets/communities/rpc/runtime-api" }
#pallet-encointer-balances = { path = "../pallets/balances" }
#pallet-encointer-scheduler = { path = "../pallets/scheduler" }
#pallet-encointer-bazaar = { path = "../pallets/bazaar" }
#pallet-encointer-bazaar-rpc = { path = "../pallets/bazaar/rpc" }
#pallet-encointer-bazaar-rpc-runtime-api = { path = "../pallets/bazaar/rpc/runtime-api" }
#pallet-encointer-faucet = { path = "../pallets/faucet" }
#pallet-encointer-reputation-commitments = { path = "../pallets/reputation-commitments" }

