[workspace]
members = [
	"client/consensus/common",
	"client/consensus/relay-chain",
	"client/network",
	"client/service",
	"pallets/parachain-system",
	"pallets/xcm-handler",
	"primitives/core",
	"primitives/parachain-inherent",
	"rococo-parachains/",
	"rococo-parachains/pallets/parachain-info",
	"rococo-parachains/primitives",
	"rococo-parachains/runtime",
	"test/runtime",
	"test/client",
	"test/service",
	"test/relay-sproof-builder",
]

[profile.release]
panic = "unwind"

#only while debugging/developping
[patch."https://github.com/encointer/pallets"]
pallet-encointer-ceremonies = { path = "../pallets/ceremonies" }
pallet-encointer-communities = { path = "../pallets/communities" }
pallet-encointer-balances = { path = "../pallets/balances" }
pallet-encointer-scheduler = { path = "../pallets/scheduler" }
pallet-encointer-bazaar = { path = "../pallets/bazaar" }
encointer-primitives = { path = "../pallets/primitives" }
pallet-encointer-sybil-gate = { path = "../pallets/sybil/gate" }
pallet-encointer-sybil-proof-issuer = { path = "../pallets/sybil/proof-issuer" }

[patch."https://github.com/paritytech/polkadot"]
xcm = { path = "../polkadot/xcm"}
xcm-builder = { path = "../polkadot/xcm/xcm-builder"}
xcm-executor = { path = "../polkadot/xcm/xcm-executor"}
polkadot-runtime = { path = "../polkadot/runtime/polkadot" }
polkadot-statement-table = { path = "../polkadot/statement-table" }
polkadot-overseer = { path = "../polkadot/node/overseer" }
polkadot-node-primitives = { path = "../polkadot/node/primitives" }
polkadot-node-subsystem = { path = "../polkadot/node/subsystem" }
polkadot-test-client = { path = "../polkadot/node/test/client" }
polkadot-core-primitives = { path = "../polkadot/core-primitives" }
polkadot-cli = { path = "../polkadot/cli" }
polkadot-test-service = { path = "../polkadot/node/test/service" }
polkadot-parachain = { path = "../polkadot/parachain" }
polkadot-primitives = { path = "../polkadot/primitives" }
polkadot-service = { path = "../polkadot/node/service"  }
polkadot-test-runtime = { path = "../polkadot/runtime/test-runtime" }